#home-container{
    display: flex;
    height: 100%;
    #feed-posts{
        width: 75%;
        padding: 10px;
    }
    #user-friends{
        width: 25%;
        padding: 10px;
        border-left: 2px solid grey;
        
    }
}